{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
        <button data-toggle="modal" data-target="#myModal" id="edit" class="btn btn-default" data-pk="{{post.pk}}"><span class="glyphicon glyphicon-pencil"></span></button>
        {% endif %}
        <h2 id="title">{{ post.title }}</h2>
        <p id="text">{{ post.text|linebreaksbr }}</p>
        </div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
              <form>
                  <div class="form-group">
                    <label for="Title">Email address</label>
                    <input type="text" class="form-control" id="titleInput" aria-describedby="Title" placeholder="Enter Title">
                    <small id="TitleHelper" class="form-text text-muted">Required</small>
                  </div>
                  <div class="form-group">
                    <label for="Text">Password</label>
                    <textarea type="Text" class="form-control" id="textInput" placeholder="Text"></textarea>
                  </div>
                  <button id="update" type="submit" class="btn btn-primary">Submit</button>
              </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
<!--        <button type="button" id="save" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>

<script>

     $("#edit").click(function (e) {
         e.preventDefault();
         $.ajax({
            type: 'GET',
            url: "{% url 'post_edit' pk=post.pk %}",
            success: function (response) {
                console.log(response)
                const title = response.title
                const text = response.text
                $( "#titleInput" ).val( title );
                $( "#textInput" ).val( text );
                // $( ".modal-body" ).html('');
                // $( ".modal-body" ).append( response );
            },
            error: function (response) {
                // alert the error if any error occured
                console.log(response)
            }
        })
     })

$(document).on('click', '#update', function(e) {
        e.preventDefault();
        //code to read selected table  cell data (values).
        const serializedData = $(".post-form").serialize();
        // make POST ajax call.
        $( ".errors" ).empty();
    const $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (const i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
    const csrftoken = getCookie('csrftoken');
    $.ajax({
            url: "{% url 'post_edit' pk=post.pk %}",
            type: 'PUT',
            dataType: "json",
            headers:{"X-CSRFToken": csrftoken},
            data: {"title": $("#titleInput" ).val(), "text":$("#textInput" ).val()},
            success: function (response) {
                //console.log(response)

                const title = response.title
                const text = response.text
                $( "#title" ).text( title );
                $( "#text" ).text( text );
                //console.log(response)
            },
            error: function (response) {
                // alert the error if any error occured
                const errors = jQuery.parseJSON(response.responseText)
                $.each(errors , function ( key, value){
                    $("label[for=id_" + key + "]").after( `<p class="errors" style=color:red>${value}</p>` );
                    console.log(key + "**" + value)
                })
            }
        })
})

</script>

{% endblock %}

