{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
        <button data-toggle="modal" data-target="#myModal" id="edit" class="btn btn-default" data-pk="{{post.pk}}"><span class="glyphicon glyphicon-pencil"></span></button>
        {% endif %}
        <h2 id="title">{{ post.title }}</h2>
        <p id="text">{{ post.text|linebreaksbr }}</p>
        </div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
<!--        <button type="button" id="save" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>

<script>

     $("#edit").click(function (e) {
         e.preventDefault();
         $.ajax({
            type: 'GET',
            url: "{% url 'post_edit' pk=post.pk %}",
            success: function (response) {
                $( ".modal-body" ).html('');
                $( ".modal-body" ).append( response );
            },
            error: function (response) {
                // alert the error if any error occured
                console.log(response)
            }
        })
     })

$(document).on('click', '#update', function(e) {
        e.preventDefault();
        //code to read selected table  cell data (values).
        const serializedData = $(".post-form").serialize();
        // make POST ajax call
        $.ajax({
            url: "{% url 'post_edit' pk=post.pk %}",
            type: 'POST',
            data: serializedData,
            success: function (response) {
                const instance = JSON.parse(response["instance"])
                console.log(instance[0].fields.text)
                const title = instance[0].fields.title
                const text = instance[0].fields.text
                $( "#title" ).text( title );
                $( "#text" ).text( text );
                //console.log(response)
            },
            error: function (response) {
                // alert the error if any error occured
                console.log(response);
            }
        })
})

</script>

{% endblock %}

